:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    width: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
}

mat-paginator {
  margin-top: 1rem;
}

.all-labels-container {
  margin-bottom: 20px;

  .all-labels {
    margin-right: 10px;
  }
}

.post-label {
  margin-right: 10px;
  padding: 5px;
  background: #3f51b5;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.post-text {
  margin-right: 10px;
  padding-top: 3px;
}